{{ form_start(form, {attr: {class: 'js-filter-form'}}) }}

    <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
        <span class="sr-only">Loading...</span>
    </div>

    {{ form_row(form.q) }}

    <h4>Prix</h4>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.minPrice) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.maxPrice) }}
        </div>
    </div>

    <div class="mb-3 ms-3" id="price-slider" data-min="{{ minPrice }}" data-max="{{ maxPrice }}"></div>


    <h4>Marques</h4>
    {% for child in form.brand %}        
        {% if child.vars.value != '' %}
            {{ form_row(child, {'label': child.vars.value }) }}
        {% else %}
            {{ form_row(child, {'label': 'Toutes les marques' }) }}
        {% endif %}
    {% endfor %}

    <h4>Année</h4>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.minYear) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.maxYear) }}
        </div>
    </div>

    <div class="js-filter-models">
        {% include 'research/_models.html.twig' with {models: form.model} only %}
    </div>

    <h4>Kilométrage</h4>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.minMile) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.maxMile) }}
        </div>
    </div>

    <h4>Localisation</h4>
    {% for child in form.location %}        
        {% if child.vars.value != '' %}
            {{ form_row(child, {'label': child.vars.value }) }}
        {% else %}
            {{ form_row(child, {'label': 'Toutes les localisations' }) }}
        {% endif %}
    {% endfor %}

    <h4>Motorisation</h4>
    {% for child in form.engine %}        
        {% if child.vars.value != '' %}
            <span class="text-uppercase">{{ form_row(child, {'label': child.vars.value }) }}</span>
        {% else %}
            {{ form_row(child, {'label': 'Toutes les motorisations' }) }}
        {% endif %}
    {% endfor %}




{{ form_end(form) }}


<a href="{{ path('research')}}">
    <button class="btn btn-lg btn-info fw-bold text-white">Remettre à zéro</button>
</a>
