{% extends 'base.html.twig' %}

{% block title %}{{annonces.brand}} - {{annonces.model}} - {{annonces.year}}{% endblock %}

{% block body %}

    <style>
        img {
            max-width: 500px;
        }
    </style>


	<link rel="stylesheet" href="{{ '../css/annonce.css' }}">

	<section id="article" class="row d-flex justify-content-evenly my-5">

        <div id="div1" class="col-md-6">
            {% if annonces.picture %}
                <img src="/uploads/cars_pictures/{{ annonces.picture }}" alt="{{annonces.brand}} - {{annonces.model}} - {{annonces.year}}">
            {% else %}
                <img src="https://via.placeholder.com/500x300" alt="{{annonces.brand}} - {{annonces.model}} - {{annonces.year}}">
            {% endif %}
        </div>

        <div class="card m-3 col-md-5">
            <div class="card-body">
                <article class="mt-5">
                    <div id="div2" class="row text-center">
                        <h3 id="marque_modele">{{annonces.brand}} {{annonces.model}} - {{annonces.year}}</h3>
                        <h4>{{annonces.price | number_format(0, ",", " " )}}€ - {{annonces.mileage | number_format(0, ",", " " )}} km</h4>
                        <h4>{{annonces.location}}</h4>
                        <h5><span class="text-uppercase">{{annonces.engine}}</span></h5>
                        <h4>Date de première circulation :
                            {{annonces.dateFirst | date('d/m/Y')}}</h4>

                    </div>
                </artcle>
            </div>
        </div>

	</section>

{% endblock %}