{% extends 'base.html.twig' %}

{% block body %}

	<link rel="stylesheet" href="{{ '../css/annonce.css' }}">

	<section id="article" class="row d-flex justify-content-evenly my-5">

		<div id="div1" class="col-lg-7"><img src="{{ '../img/auto-2179220_1920.jpg' }}" alt=""></div>

		<article class="col-lg-4 mt-5">
			<div id="div2" class="row text-center">
				<h3 id="marque_modele">{{annonces.marque}}
					{{annonces.modele}}</h3>
				{# <p>De modèle :</p> #}
				<h4>Prix :
					{{annonces.prix | number_format(0, ",", " " )}}
					€</h4>
				<h4>En circulation depuis :
					{{annonces.annee}}</h4>
				{# <P>Son kilomètrage est de :</p> #}
				<h4>Compteur :
					{{annonces.kilometrage | number_format(0, ",", " " )}}
					km</h4>
				{# <p>Son prix est de :</p> #}
				<h4>Localisé à :
					{{annonces.localisation}}</h4>
				<h4>Déposé le :
					{{annonces.date | date('d/m/Y')}}</h4>
				{# <div class="ig"><img src="{{annonces.image}}" alt=""></div> #}
			</div>
		</artcle>

	</section>

{% endblock %}
